@font-face {
    font-family: 'DejaVu Sans';
    src: url('./dejavu-sans.condensed.ttf') format('truetype');
}

:root {
    --button-width: 80px
}

.hacked {
    background-color: #39FF14;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    text-align: center;
}

.rainbow-text{
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

body {
    font-family: 'DejaVu Sans', sans-serif;
    background-color: #2f3537;
    color: #dddedc;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.login-container {
    width: 100%;
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-box {
    padding: 20px;
    border-radius: 6px;
    width: 100%;
    max-width: 300px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    justify-self: left;
}

input {
    width: calc(100% - 16px);
    padding: 8px;
    height: 8px;
    border: solid #2f3537;
    box-shadow: inset 1px 1px 2px 2px #1e1e1f;
    border-radius: 4px;
    background: #2c2b2d;
    color: white;
    outline: none;
    justify-self: center;
}


header img{
    position: fixed;
    scale: 35%;
    top: -230px;
    right: -150px;
}

input:focus {
    border: solid rgba(255, 255, 255, 0.2);
}

button {
    border-width: 1px;
    box-shadow: 0 0 .5px .75px rgb(27, 27, 28);
    border-radius: 5%;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s;
    height: 23px;
    min-width: var(--button-width);
}

button.cancel {
    justify-self: left;
    font-size: 14px;
    background-color: #2e3436;
    border-color: #1e2324;
}

footer {
    align-self: center;
    position: fixed;
    bottom: 20px;
}

button.next {
    position: relative;
    font-size: 14px;
    justify-self: right;
    left: calc(100% - var(--button-width));
}

button:hover {
   cursor: default;
}

button.next:hover, button.cancel:hover {
    background-color: #204269;
}

button:disabled, button[disabled]{
    background-color: #2e3436;
    border-color: #1e2324;
    opacity: 0.6;
} 

button.sign_in {
    justify-self: right;
    font-size: 14px;
}

.sign_in, .next{
    background-color: #204269;
    border-color: #1e2324;
}


#datetime {
    position: fixed;
    top: 10px;
    left: calc(50% - 91.63px / 2);
    font-size: small;

}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding-top: 50px;
}

.button-group button {
    width: 20%;
}


.rocky-logo {
    margin-top: 25px;
}

.rocky-logo img {
    width: 200px;
}

.gear {
    scale: 5.5%;
    position: absolute;
    top: 34.5%;
    right: 34%;
}

#wrong-message {
    font-size: .85rem;
    text-align: left;
    position: relative;
    top: 20px;
}
